#infoSection {
  height: auto;
}

#infoSection .content {
  justify-content: center;
  text-align: justify;
  align-items: center;
  font-size: 18px;
  line-height: 2rem;
}

.offset-md-4 {
  margin-left: 24.333333% !important;
}
/* 
#infoSection .player {
  margin-top: 1px !important;
  margin-bottom: 20px;
} */

/*--For mobile devices--*/
@media (max-width: 480px) {
  #infoSection .player {
    /* width: 89% !important; */
    margin-top: -60px !important;
  }

  .offset-md-4 {
    margin-left: 7.333333% !important;
  }
  #infoSection .content {
    justify-content: center;
    text-align: center;
    -moz-box-align: center;
    align-items: center;
    font-size: 15px;
    margin-left: -14px;
    padding: 24px;
    width: 100% !important;
  }
}

/*-----For tablets: ---------------*/
@media (min-width: 481px) and (max-width: 1024px) {
  /* #infoSection .player {
    margin-left: -167px !important;
  } */

  .offset-md-4 {
    margin-left: 24.333333% !important;
  }
  #infoSection .content {
    font-size: 15px;
    width: 140% !important;
    margin-left: -159px !important;
  }
}
