.testimonial-container {
  /* margin-bottom: 20px; */
  height: auto;
  justify-content: center;
  position: relative;
}

.react-multiple-carousel__arrow--left {
  top: 57px !important;
  background-color: #33195a !important;
}

.react-multiple-carousel__arrow--right {
  top: 57px !important;
  background-color: #33195a !important;
}

.monial {
  height: 260px;
  background: #eee;
  color: #000;
  margin-bottom: 50px;
  padding: 20px;
}

.monial span {
  font-weight: bold;
  font-size: 20px;
}

.caption-container .ant-avatar {
  margin-top: 50px !important;
}

.caption-container p {
  color: #000 !important;
}

.carousel-text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.testimonial .lead {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.tesmonial div {
  height: auto !important;
  margin-bottom: 10px;
}

/*--For mobile devices--*/
@media (max-width: 480px) {
  .testimonial-container {
    /* margin-bottom: 20px; */
    height: auto;
    justify-content: center;
    position: relative;
  }

  .carouselUnit {
    height: 70vh;
    background: #f3f3f3;
    margin: 30px;
  }

  .tesmonial div {
    height: auto !important;
    margin-bottom: 10px;
  }

  .tesmonial video {
    height: auto !important;
  }
}

/*-----For tablets: ---------------*/
@media (min-width: 481px) and (max-width: 1024px) {
  .testimonial-container {
    width: 100%;
  }
  .monial {
    color: #000;
  }

  .monial span {
    font-size: 10px;
  }

  .carouselUnit {
    height: 30vh;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  .carouselUnit p {
    color: red;
  }
}
